@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.inner-hero {
    position: relative;
    min-height: 460px;
    display: flex;
    align-items: center;
    background-image: url("../images/about-banner.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.48);
    }

    .container {
        position: relative;
        z-index: 1;
    }

    &__content {
        max-width: 780px;
        padding: 100px 0 70px;
    }

    &__eyebrow {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-accent;
    }

    &__title {
        max-width: 720px;
        margin-bottom: 20px;
        color: #fff;
        font-family: $font-heading;
        font-size: clamp(38px, 5vw, 64px);
        font-weight: 700;
        line-height: 1.1;
    }

    &__text {
        max-width: 650px;
        margin-bottom: 25px;
        color: rgba(255, 255, 255, 0.88);
        font-size: 17px;
        line-height: 1.8;
        font-family: $font-body;
    }

    &__breadcrumb {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-style: italic;

        a {
            color: #fff;
            text-decoration: none;
            transition: 0.3s ease;

            &:hover {
                color: $color-accent;
            }

            span{
                color: $color-accent;
                margin-right: 0.5rem;
            }
        }

        span {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    @media (max-width: 767px) {
        min-height: 400px;

        &__content {
            padding: 90px 0 60px;
        }

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 16px;
        }
    }


    &--contact {
        background-image: url("../images/contact-us-banner.jpg");
    }

    &--gallery{
        background-image: url("../images/gallery-banner.jpg");   
    }

    &--packages{
        background-image: url("../images/listing-banner.jpg");
    }

    &--package-details{
        background-image: url("../images/listing-banner.jpg");
    }

}